@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.cls-1 {
    fill: #fff;
  }

  .cls-2 {
    font-family: Oswald-Bold, Oswald;
    font-size: 19.51px;
    font-weight: 700;
  }

  .cls-3 {
    font-family: Montserrat-SemiBold, Montserrat;
    font-size: 9.15px;
    font-weight: 600;
  }

  .cls-4 {
    fill: url(#radial-gradient);
  }

  .cls-5 {
    fill: #f3753d;
  }

  .cls-6 {
    isolation: isolate;
  }

  .cls-6, .cls-7 {
    fill: none;
  }

  .cls-8 {
    fill: #566bb7;
  }

  .cls-9 {
    fill: #cf1884;
  }

  .cls-7 {
    mix-blend-mode: multiply;
    opacity: .35;
  }

  .cls-10 {
    letter-spacing: -.01em;
  }

